<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dior Shop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">

    {%block link%} {%endblock%}
 

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap">
</head>
<body>
    <!-- Шапка -->
    <header class="header">
        <div class="container">
            <a href="/" class="logo">
                <img src="{% static 'main/img/logo.jpg' %}" alt="Dior Shop">
            </a>
            <nav class="nav">
                <ul>
                    <li><a href="{% url 'catalog' %}">Каталог</a></li>
                    <li><a href="{% url 'contact' %}">Контакты</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">Мой аккаунт</a></li>
                        <li><a href="{% url 'logout' %}">Выйти</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Войти</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    
    <!-- Основной контент -->
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <!-- Подвал -->
    <footer class="footer">
        <p>&copy; 2025 Dior Shop. Все права защищены.</p>
    </footer>
</body>
</html>
