<!-- templates/store/profile.html -->
{% extends 'store/base.html' %}

{% block title %}Мой Профиль{% endblock %}

{% block content %}
<div class="profile-container" style="padding: 40px;">
    <h1>Мой Профиль</h1>
    <div class="profile-details" style="margin-bottom: 20px;">
        <p><strong>Имя:</strong> {{ user.first_name }} {{ user.last_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Дата регистрации:</strong> {{ user.date_joined }}</p>
    </div>
    <div class="update-profile">
        <a href="{% url 'update_profile' %}" style="background-color: #4CAF50; color: white; padding: 10px 15px; text-decoration: none; border-radius: 5px;">Изменить данные</a>
    </div>
</div>
{% endblock %}
